.vscode/*

dist
node_modules
build
test

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.DS_Store

/coverage
/.nyc_output

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.development
.env.test
.env.production

.temp
.tmp
*.md

pids
*.pid
*.seed
*.pid.lock

.git
.gitignore
.npmignore
.prettierrc
.nvmrc
*.log

Dockerfile
Dockerfile.*
docker-compose.yml
eslint.config.mjs

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
